.image {
    background-color: var(--color-bg-secondary);

    &--fit {
        padding: 1rem;

        img {
            object-fit: contain;
        }
    }

    &--rounded {
        border-radius: 1.5rem;

        img,
        picture {
            border-radius: 1.5rem;
        }
    }
}