@use "../../../styles/mixins" as *;

.media-details {
    @include flex(column, start);

    & {
        padding: 10svh 10vw;
        gap: 2rem
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__carrousel {
        @include flex(column start);
        position: relative;
        width: 100%;
    }

    &__button {
        position: absolute;
        padding: 1rem;
        background-color: var(--color-bg-primary-translucent);
        z-index: 1;

        &--left {
            left: 1rem;
        }

        &--right {
            right: 1rem;
        }
    }

    &__images {
        @include flex(row, center, start);
        width: 100%;
        gap: 1rem;
        scroll-snap-type: x mandatory;
        overflow-x: hidden;



        .image {
            min-width: 20%;
            max-width: 100%;
            max-height: 40svh;
            flex: 0 0 auto;
            scroll-snap-align: center;
            scroll-snap-stop: always;
        }

        img {
            max-height: 40svh;
        }
    }

    &__seasons,
    &__companies {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        width: 100%;
        gap: 1rem;
    }
}