@use "../../../styles/mixins" as *;

.nav-bar {
    @include flex();
    gap: 0.5rem;

    .link {
        padding: 0.75rem;
        border-radius: 1.5rem;

        &:hover,
        &.active {
            background-color: var(--color-bg-secondary);
        }
    }
}