/* Flexbox mixin */
@mixin flex($direction: row, $align: center, $justify: center, $wrap: nowrap) {
    display: flex;
    flex-flow: $direction $wrap;
    align-items: $align;
    justify-content: $justify;
}

/* Media query mixin */
@mixin media($min-width: 640px) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}