:root {
    /* Background colors */
    --color-bg-primary: rgb(225, 225, 225);
    --color-bg-primary-translucent: rgba(225, 225, 225, 0.565);
    --color-bg-secondary: rgb(200, 200, 200);
    --color-bg-tertiary: rgb(175, 175, 175);

    /* Text colors */
    --color-text-primary: rgb(30, 30, 30);
    --color-text-secondary: rgb(100, 100, 100);

    /* Highlight colors */
    --color-highlight-primary: rgb(190, 130, 50);
    --color-highlight-secondary: rgb(240, 180, 100);

    /* Other colors */
    --color-border: rgb(175, 175, 175);

    /* Fonts */
    --font-primary: "Lexend", sans-serif;
    --font-secondary: sans-serif;

    @media (prefers-color-scheme: dark) {
        /* Background colors for dark mode */
        --color-bg-primary: rgb(30, 30, 30);
        --color-bg-primary-translucent: rgba(30, 30, 30, 0.565);
        --color-bg-secondary: rgb(55, 55, 55);
        --color-bg-tertiary: rgb(80, 80, 80);

        /* Text colors for dark mode */
        --color-text-primary: rgb(225, 225, 225);
        --color-text-secondary: rgb(155, 155, 155);

        /* Highlight colors for dark mode */
        --color-highlight-primary: rgb(190, 130, 50);
        --color-highlight-secondary: rgb(140, 80, 0);

        /* Other colors for dark mode */
        --color-border: rgb(80, 80, 80);
    }
}