:root {
    /* Background colors */
    --color-bg-primary: rgb(225, 225, 225);
    --color-bg-secondary: rgb(215, 215, 215);

    /* Text colors */
    --color-text-primary: rgb(30, 30, 30);
    --color-text-secondary: rgb(100, 100, 100);

    /* Other colors */
    --color-border: rgb(175, 175, 175);

    /* Fonts */
    --font-primary: sans-serif;
    --font-secondary: sans-serif;

    @media (prefers-color-scheme: dark) {
        /* Background colors for dark mode */
        --color-bg-primary: rgb(30, 30, 30);
        --color-bg-secondary: rgb(40, 40, 40);

        /* Text colors for dark mode */
        --color-text-primary: rgb(225, 225, 225);
        --color-text-secondary: rgb(155, 155, 155);

        /* Other colors for dark mode */
        --color-border: rgb(80, 80, 80);
    }
}