@use "../../../styles/mixins" as *;

.media-synopsis {
    @include grid(2, 4svh 2vw);

    & {
        position: relative;
        padding: 10svh 10vw;

        @include media(960px) {
            padding: 20svh 10vw;
        }
    }

    &__information {
        @include flex(column, start, start);
        gap: 1.5rem;

        &-title {
            @include flex(column, start);
            gap: 0.5rem
        }
    }

    &__description {
        @include flex(column, end);
        gap: 2rem;
    }

    .text {
        &--title {
            font-weight: bold;
            color: var(--color-highlight-primary);
        }

        &--media {
            font-size: 2rem;
            font-weight: bold;
        }

        &--information {
            color: var(--color-text-secondary);
        }

        &--score {
            color: var(--color-highlight-primary);
        }

        &--description {
            @extend .text--information;
            font-size: 1.1rem;
        }
    }

    .image {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        picture,
        img {
            width: 100%;
            height: 100%;
        }
    }

    .image-gradient {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(to bottom, var(--color-bg-primary) 0%, var(--color-bg-primary-translucent) 25%, var(--color-bg-primary-translucent) 75%, var(--color-bg-primary) 100%);
    }


}